{% extends "single_layout.html" %}

{% block pageheader %}
{{ topic.title }}
{% endblock %}

{% block content %}
<div class="topic-content well">{{ topic.body }}</div>
{% for comment in topic.comments %}
<div class="thumbnail comment">
	<div class="comment-body">{{ comment.body }}</div>
	<div class="meta">{{ comment.author }}</div>
	<div class="vote">
		<a href="javascript:void(0)" class="voteup btn {% if comment.cid in voted %}disabled{% endif %} btn-success" data-cid="{{ comment.cid }}">
			<i class="icon-thumbs-up icon-white"></i> <span>{% if comment.cid in voted %}已{% endif %}赞</span>
		</a>
	</div>
</div>
{% endfor %}
{% endblock %}