{% extends "base.html" %}

{% block body %}
  <div class="hero-unit">
    <div class="container">
      <h1>站庆活动筹备中……</h1>
      <p>盛典一触即发！欢迎参与我们的筹备活动～</p>
      <div class="right"><img class="floating-rocket" src="/static/img/rocket.png" alt="Launching" /></div>
      <div class="left countdown">
        <div id="countdown">
          <div class="dash days_dash">
              <span class="dash_title">days</span>
              <div class="digit">0</div>
              <div class="digit">0</div>
          </div>
          <div class="left separator"></div>
          <div class="dash hours_dash">
              <span class="dash_title">hours</span>
              <div class="digit">0</div>
              <div class="digit">0</div>
          </div>
          <div class="left separator"></div>
          <div class="dash minutes_dash">
              <span class="dash_title">minutes</span>
              <div class="digit">0</div>
              <div class="digit">0</div>
          </div>
          <div class="left separator"></div>
          <div class="dash seconds_dash">
              <span class="dash_title">seconds</span>
              <div class="digit">0</div>
              <div class="digit">0</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="span5">
        <h2>线上话题</h2>
         <p>查看线上话题，投票和征集活动，参与站庆。</p>
        <p><a class="btn" href="{{ url_for('topics.topics') }}">进入 &raquo;</a></p>
      </div>
      <div class="span5">
        <h2>站庆公告</h2>
         <p>阅读各类站庆通知。</p>
        <p><a class="btn" href="#">进入 &raquo;</a></p>
     </div>
    </div>
  </div>
{% endblock %}